.RData
.Rhistory
.Rproj.user/
plots_2015-2016/
plots_2016-2017/
planning2015.Rproj
employerSurvey2015.csv
employer_survey_2015-2016.csv
learning_outcome_essays_2015-2016.csv
learning_outcome_essays_2016-2017.csv

.Rproj.user
